pipeline/data Ingestion.json
{
	"name": "data Ingestion",
	"properties": {
		"activities": [
			{
				"name": "Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqldb_ctrltbl",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "cntrl_tbl"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "getTable",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "tab_name",
								"value": {
									"value": "@item().table_name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "getQuery",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "getInjectionDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "query",
								"value": {
									"value": "@concat('select * from ', variables('tab_name'), ' where ',variables('inc_col'), ' = ',  '''', variables('injection_date'), '''')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "getInjectionDate",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "getIncrementalcol",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "injection_date",
								"value": {
									"value": "@item().ingestion_dt",
									"type": "Expression"
								}
							}
						},
						{
							"name": "getIncrementalcol",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "getTable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "inc_col",
								"value": {
									"value": "@item().incremental_col",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "getQuery",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@variables('query')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "AzureSqlTable",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Json1",
									"type": "DatasetReference",
									"parameters": {
										"folder_name": {
											"value": "@variables('tab_name')",
											"type": "Expression"
										},
										"file_name": {
											"value": "@concat(variables('tab_name'),'.json')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"tab_name": {
				"type": "String"
			},
			"inc_col": {
				"type": "String"
			},
			"injection_date": {
				"type": "String"
			},
			"query": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-12-12T09:08:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}